{% extends 'base.html' %} {% block content %}
<script>
	jQuery(function () {
		jQuery("#attandance_date").datepicker({
			changeMonth: true,
			changeYear: true,
			yearRange: "0:+1",
			dateFormat: 'd MM,yy'
		});
	});
</script>
<!--breadcrumbs start-->
<div class="breadcrumbs">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-sm-4">
				<h1>{{heading}}</h1>
			</div>
		</div>
	</div>
</div>
<!--breadcrumbs end-->

<!--container start-->
<div class="registration-bg">
	<div class="row">
		<form enctype="multipart/form-data" method="post" class="form-signin wow fadeInUp" action="" style="max-width:60%">
			{% csrf_token %}
			<h2 class="form-signin-heading">
				{% if fn == "add" %}
					Add New Attandance
				{% elif fn == "update" %}
					Update Attandance
				{% endif %}
			</h2>
			{% if messages %}
				<div class="alert alert-success fade in" style="margin:10px;">
					{% for message in messages %}
						<strong>{{ message }}</strong>
					{% endfor %}
				</div>
			{% endif %}
			<div class="login-wrap">
			
				<div class="col-xs-6 form-group">
					<label for="pwd">Select Subject</label>
					<select name="attandance_subject_id" required class="form-control" placeholder="Select Subject" autofocus="" /> 
					<option value="">Please Select</option>
					{% for subject in subjectlist %}
					<option value="{{ subject.subject_id }}" {% ifequal subject.subject_id attandanceDetails.attandance_subject_id %} selected="selected"{% endifequal %}>{{subject.subject_name}}</option>
					{% endfor %}
					</select>
				</div>

				<div class="col-xs-6 form-group">
					<label for="pwd">Select Student</label>
					<select name="attandance_student_id" required class="form-control" placeholder="Select Student" autofocus="" /> 
					<option value="">Please Select</option>
					{% for student in studentlist %}
					<option value="{{ student.user_id }}" {% ifequal student.user_id attandanceDetails.attandance_student_id %} selected="selected"{% endifequal %}>{{student.user_first_name}}</option>
					{% endfor %}
					</select>
				</div>

				<div class="col-xs-6 form-group">
					<label for="pwd">Lecture Title</label>
					<input type="text" value="{{attandanceDetails.attandance_lecture_title}}" name="attandance_lecture_title" id="attandance_lecture_title" class="form-control" placeholder="Lecture Title" required>
				</div>

				<div class="col-xs-6 form-group">
					<label for="pwd">Date</label>
					<input type="text" value="{{attandanceDetails.attandance_date}}" name="attandance_date" id="attandance_date" class="form-control" placeholder="Date" required>
				</div>


				<div class="col-xs-6 form-group" style="clear:both">
					<label for="pwd">Descriptions</label>
					<textarea class="form-control" style="height:150px;" placeholder="Description" autofocus="" name="attandance_description" id="attandance_description" required>{{attandanceDetails.attandance_description}}</textarea>
				</div>
				<button class="btn btn-lg btn-login btn-block" type="submit">Submit</button>
			</div>
			<input type="hidden" name="act" value="save_attandance">
			<input type="hidden" name="user_id" value="{{attandancelist.attandance_id}}">
		</form>
	</div>
</div>
{% if appointmentdetails %}
<script>
	$(".update-appointment").hide();
</script>
{% endif %}
{% if request.session.appointment_level_id != 1 %}
<script>
	$(".role-options").hide();
</script>
{% endif %}
<!--container end-->
{% endblock content %}