{% extends 'base.html' %}
{% block content %}
    <!-- Sequence Modern Slider -->
    <div id="da-slider" class="da-slider" style="top:1px;">

            <div class="da-slide">
            <div class="container">
              <div class="row">
                <div class="col-md-12">
              <h2>
                <i>MANAGE THE</i>
                <br>
                <i>ASSIGNMENT</i>
                <br>
                <i>DETAILS</i>
              </h2>
              <p>
                <i>A complete solution</i>
                <br />
                <i>for assignment management</i>
              </p>
              <a href="#" class="btn btn-info btn-lg da-link">
				  Read more
				</a>
              <div class="da-img">
                <img src="/assets/img/parallax-slider/images/1.jpeg" alt="image01" style="height:300px"/>
              </div>
            </div>
          </div>
        </div>
      </div>


            <div class="da-slide">
            <div class="container">
        <div class="row">
          <div class="col-md-12">
        <h2>
          <i>QUIZ AND</i>
            <br />
          <i>TOPICS</i>
            <br />
          <i>MANAGEMENT</i>
        </h2>
        <p>
          <i>Management of</i>
            <br />
          <i>Topics and Quiz</i>
        </p>
        <a href="#" class="btn btn-info btn-lg da-link">
          Read more
        </a>
        <div class="da-img">
          <img src="/assets/img/parallax-slider/images/2.jpeg" alt="image01" style="height:300px"/>
        </div>
      </div>
          </div>
        </div>
      </div>


      <div class="da-slide">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
        <h2>
          <i>TEST AND</i>
            </br>
          <i>QUESTIONS</i>
            </br>
          <i>MANAGEMENT</i>
        </h2>
        <p>
          <i>Manage Tests, Quiz</i>
          <br />
          <i>and Questions</i>
          <br />
          <i>on a single portal</i>
        </p>
        <a href="#" class="btn btn-info btn-lg da-link">
          Read more
        </a>
        <div class="da-img">
          <img src="/assets/img/parallax-slider/images/3.jpeg" alt="image01" style="height:300px"/>
        </div>
      </div>
      </div>
      </div>
      </div>

      <nav class="da-arrows">
        <span class="da-arrows-prev">
        </span>
        <span class="da-arrows-next">
        </span>
      </nav>
    </div>


    <div class="container">
      <div class="row mar-b-30">
        <div class="col-md-12">
          <div class="text-center feature-head wow fadeInDown">
            <h1 class="" style="margin:30px;">
              Welcome to Student Assignment Submission Portal
            </h1>

          </div>


          <div class="feature-box">
            <div class="col-md-4 col-sm-4 text-center wow fadeInUp">
              <div class="feature-box-heading">
                <em>
                <img src="/assets/img/parallax-slider/images/front1.jpeg" alt="" style="width:350px; height:180px;">

                </em>
                <h4>
                  <b>Student Assignment Management</b>
                </h4>
              </div>
              <p class="text-center">
                A student information system (SIS), student management system, school administration software or student administration system is a management.
              </p>
            </div>
            <div class="col-md-4 col-sm-4 text-center wow fadeInUp">
              <div class="feature-box-heading">
                <em>
                  <img src="/assets/img/parallax-slider/images/front2.jpg" alt="" style="width:350px; height:180px;">
                </em>
                <h4>
                  <b>Topics Submission Management</b>
                </h4>
              </div>
              <p class="text-center">
                Student information systems provide capabilities for registering students in courses; documenting grading, transcripts, results of student tests.
              </p>
            </div>
            <div class="col-md-4 col-sm-4 text-center wow fadeInUp">
              <div class="feature-box-heading">
                <em>
                  <img src="/assets/img/parallax-slider/images/front3.jpg" alt="" style="width:350px; height:180px;">
                </em>
                <h4>
                  <b>Subjects Management System</b>
                </h4>
              </div>
              <p class="text-center">
                A SIS should not be confused with a learning management system or virtual learning environment, where course materials, assignments and assessment.
              </p>
            </div>
          </div>

          <!--feature end-->
        </div>
      </div>
    </div>


    <!--property start-->
    <div class="property gray-bg">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-sm-6 text-center wow fadeInLeft">
            <img src="/assets/img/p3.png" alt="" style="height:335px; width:550px;">
          </div>
          <div class="col-lg-6 col-sm-6 wow fadeInRight">
            <h1>
              Student Assignment Submission Portal
            </h1>
            <hr>
            <p>
              A student information system (SIS), student management system, school administration software or student administration system is a management information system for education establishments to manage student data. Student information systems provide capabilities for registering students in courses; documenting grading, transcripts, results of student tests and other assessment scores; building student schedules; tracking student attendance; and managing many other student-related data needs in a school. A SIS should not be confused with a learning management system or virtual learning environment, where course materials, assignments and assessment tests can be published electronically.
              The SIS can include features that can be considered as an enterprise resource planning or ERP system for a corporate customer. As such, many of the issues with ERP system selection methodology, implementation, and operation of an ERP system apply too.
            </p>
			      <hr>
          </div>
        </div>
      </div>
    </div>
    <!--property end-->
    <script type="text/javascript" src="/assets/js/parallax-slider/jquery.cslider.js"></script>
	<script type="text/javascript">
		  $(function() {

			$('#da-slider').cslider({
			  autoplay    : true,
			  bgincrement : 100
			});

		  });
	</script>
  {% endblock content %}

